package {{ env.java_package_entity_dao_base }};

import {{ env.java_package_entity }}.{{ table.class_name }};
import io.dropwizard.hibernate.AbstractDAO;
import org.hibernate.SessionFactory;
import org.hibernate.criterion.Restrictions;
import org.joda.time.DateTime;

import java.util.List;

public abstract class {{ table.class_name }}BaseDao extends AbstractDAO<{{ table.class_name }}> {
    public {{ table.class_name }}BaseDao(SessionFactory factory) {
        super(factory);
    }

    @SuppressWarnings("unchecked")
    public List<{{ table.class_name }}> findAll() {
        return criteria().list();
    }
    {% for index in table.indices %}
    {% if index.type != "KEY" %}

    public {{ table.class_name }} findBy{{ index.get_combined_pascal_column_names() }}({% for column in index.columns %}{{ column.field_type }} {{ column.field_name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        return ({{ table.class_name }}) criteria()
                {% for column in index.columns %}
                .add(Restrictions.eq("{{ column.field_name }}", {{ column.field_name }}))
                {% endfor %}
                .uniqueResult();
    }
    {% else %}

    @SuppressWarnings("unchecked")
    public List<{{ table.class_name }}> findAnyBy{{ index.get_combined_pascal_column_names() }}({% for column in index.columns %}{{ column.field_type }} {{ column.field_name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        return criteria()
                {% for column in index.columns %}
                .add(Restrictions.eq("{{ column.field_name }}", {{ column.field_name }}))
                {% endfor %}
                .list();
    }
    {% endif %}
    {% endfor %}
}

